<!-- main/templates/main/projects.html -->
{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <section class="projects">
        <h2>Projects</h2>
        <p>Here are some of the projects I have worked on:</p>
        <ul>
            <li>
                <h3>Project 1</h3>
                <p>Description of Project 1</p>
            </li>
            <li>
                <h3>Project 2</h3>
                <p>Description of Project 2</p>
            </li>
            <li>
                <h3>Project 3</h3>
                <p>Description of Project 3</p>
            </li>
        </ul>
    </section>
{% endblock %}
